nav {
	background-color:black;
}
p1{
	color:rgb(256,212,16);
}
h2{
	color:rgb(256,212,16);
}
h3{
	color:rgb(256,212,16);
}
body{
background-color:rgb(46, 46, 46);
}
a {
	color:rgb(256,212,16);
}		
.caption{
	position: absolute;
	top: 35%;
	left: 50%;
	margin-left:-24%;
	width: 60%;
}
.text-responsive {
	font-size: calc(75% + 1vw + 1vh);
}
.active a{ 
	color: white !important;
}
.fa {
  padding: 10px;
  font-size: 20px;
  width: 40px;
  height:40px;
  text-align: center;
  text-decoration: none;
  margin: auto;
  border-radius:50%;
  
}

.fa:hover {
    opacity: 0.7;
	background-color:rgb(256,212,16);
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}
.fa-instagram {
  background: #125688;
  color: white;
}
.fa-google {
  background: #dd4b39;
  color: white;
}
